<h1>Edit Tweet</h1>

<form action="/tweets/<%= @tweet.id %>" method="POST">
<input type="hidden" name="_method" value="PATCH">
    <label for="content"></label>
        <textarea id="content" name="content" rows="10" cols="50"><%= @tweet.content %></textarea>
    <button type="submit" name="submit">Edit Tweet</button>
</form>