<h1>Create Tweet</h1>

<form action ="/tweets" method="POST">
  <label for="content">Compose your tweet:</label><br>
    <textarea id="content" name="content" rows="10" cols="50"></textarea>
    <button type="submit" name="submit">Submit</button>
</form>