<h1>Fwitter Log In</h1>

<form action ="/login" method="POST">
    <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br><br>
    <label for ="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
    <label for="password">Password:</label>
        <input type="text" id="password" name="password"><br><br>
    
        <button type="submit" name="submit">Submit</button>
</form>